Flask==0.12.2
Pandas==0.22.0
Numpy==1.14.2
scikit-learn==0.19.1
spacy
scipy
spacy-nightly
-e https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
